version: '3.8'

services:
  audiobookbay-automated:
    image: ghcr.io/jamesry96/audiobookbay-automated:latest
    ports:
      - "5078:5078"
    container_name: audiobookbay-automated
    environment:
      - DOWNLOAD_CLIENT=qbittorrent
      - DL_SCHEME=http
      - DL_HOST=localhost
      - DL_PORT=8080
      - DL_USERNAME=admin
      - DL_PASSWORD=password
      - DL_CATEGORY=abb-downloader
      - ABB_HOSTNAME=audiobookbay.is
      - PAGE_LIMIT=5
      - SAVE_PATH_BASE=/audiobooks
      - NAV_LINK_NAME=AudiobookShelf
      - NAV_LINK_URL=http://107.161.92.187:13378/
    env_file:
      - .env